<header class="header">
  <h1 class="header__title">{{ "HEADER.TODO_APP" | translate }}</h1>

  <ul class="nav">
    <li class="nav__link" *ngIf="currentUsedLanguage === 'en'">
      <button class="btn btn--link" (click)="changeLang('ar')">
        {{ "HEADER.LANG_BUTTON_AR" | translate }}
      </button>
    </li>
    <li class="nav__link" *ngIf="currentUsedLanguage === 'ar'">
      <button class="btn btn--link" (click)="changeLang('en')">
        {{ "HEADER.LANG_BUTTON_EN" | translate }}
      </button>
    </li>
    <li class="nav__link" *ngIf="currentUser">
      <button class="btn btn--link" (click)="logout()">{{ "HEADER.LOGOUT" | translate }}</button>
    </li>
  </ul>
</header>
