@import "../../../../assets/styles/helpers/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  background-color: $primary-color;
  color: #fff;
  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  .btn {
    font-family: $arabic-font-family;
    color: #fff;
  }
}

::ng-deep .body--rtl {
  .header {
    .btn {
      font-family: $english-font-family;
    }
  }
}
