$english-font-family: 'Montserrat', sans-serif;
$arabic-font-family: 'Cairo', sans-serif;

$primary-color: #61C99B;
$primary-color-dark: darken($color: $primary-color, $amount: 30%);
$success: #4cd137;
$warning: #fbc531;
$danger: #c23616;
$info: #273c75;

$gray-light: #f5f6fa;
$gray: #dcdde1;

$border-radius: 0.3rem;

$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$phone: 600px;