<div class="form-box">
  <div class="form-box__box">
    <h3 class="form-box__title">{{ "FORM.LOGIN" | translate }}</h3>
    <form
      class="form-box__form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div
        class="form-group"
        [class.form-group--invalid]="
          email.invalid && (email.dirty || isSubmitted)
        "
      >
        <label class="form-group__label">{{ "FORM.EMAIL" | translate }}</label>
        <input type="email" class="form-group__control" [formControl]="email" />
        <span class="form-group__feedback">{{
          "FORM.REQUIRED_FIELD" | translate
        }}</span>
      </div>
      <div
        class="form-group"
        [class.form-group--invalid]="
          password.invalid && (password.dirty || isSubmitted)
        "
      >
        <label class="form-group__label">{{
          "FORM.PASSWORD" | translate
        }}</label>
        <input
          type="password"
          class="form-group__control"
          [formControl]="password"
        />
        <span class="form-group__feedback">{{
          "FORM.REQUIRED_FIELD" | translate
        }}</span>
      </div>
      <div class="form-box__form-footer">
        <button type="submit" class="btn btn--primary">
          {{ "FORM.SUBMIT" | translate }}
        </button>
        <p>
          {{ "FORM.DONT_HAVE_ACCOUNT" | translate }}
          <a [routerLink]="['/register']">{{ "FORM.REGISTER" | translate }}</a>
        </p>
      </div>
    </form>
  </div>
</div>
