@import '../../../assets/styles/helpers/variables';

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    background-color: #273c75;
    color: #fff;
    h1 {
        font-size: 2rem;
        font-weight: bold;
    }

    .btn {
        font-family: $arabic-font-family;
        color: #fff;
    }
}