@import '../../../../assets/styles/helpers/variables';

app-modal {
  display: none;

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;

    &__content {
      max-width: 80%;
      margin: auto;
      animation-name: sildeDown;
      animation-duration: 0.3s;
      transform: translate(0, 50px);
    }
    &__body,
    &__header,
    &__footer {
      padding: 1rem;
      background-color: #fff;
    }
    &__header {
      color: #fff;
      background-color: $primary-color;
      font-size: 1.3rem;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    &__footer {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .btn {
        margin-right: 0.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &--lg {
      .modal__content {
        max-width: 900px;
      }
    }
    &--md {
      .modal__content {
        max-width: 600px;
      }
    }
    &--sm {
      .modal__content {
        max-width: 350px;
      }
    }

    &--warning {
      .modal__header {
        background-color: $warning;
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
  }
}

body {
  &.body__modal--open {
    overflow: hidden;
  }

  &.body--rtl {
    app-modal {
      .modal {
        &__footer {
          .btn {
            margin-left: 0.5rem;
            margin-right: 0;
            &:last-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

@keyframes sildeDown {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 50px);
  }
}
