:host {
  flex-grow: 1;
  display: block;
  flex-basis: 0;
}

::ng-deep {
  ng-scrollbar.scroll-event {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: gray;
    --scrollbar-hover-size: 12px;
    --scrollbar-track-color: rgba(0, 0, 0, 0.05);
    --scrollbar-border-radius: 10px;

    height: auto;
    max-height: initial;
    border-radius: 3px;
    display: block;
    flex-grow: 1;
    flex-basis: 0;
  }
}

.todos {
  position: relative;
  padding: 2rem;
  height: 100%;
  &__main {
    max-width: 600px;
    height: 100%;
    border-radius: 0.3rem;
    background-color: #fff;
    margin: 0 auto;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
      background-color: #fff;
    }
  }
  .btn-wrapper {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    .btn {
      position: relative;
      left: -50%;
      font-size: 2rem;
      transition: all 0.2s ease-in;
      background-color: #273c75;
      color: #fff;
      &:hover {
        transition: background-color 0.2s ease-in;
        background-color: lighten($color: #273c75, $amount: 20%);
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

